input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	@include border-radius(3px);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color__text-input-focus;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

.frm_forms {

	label {
		display: none;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		color: $color__text-input !important;
		border: 1px solid $color__border-input !important;
		@include border-radius(0);
		border-radius: 0 !important;
		width: 100%;
	}

	.frm_form_field {
		margin-bottom: 0.5em;
		width: 100%;

		input {
			height: 30px;
		}
	}

	.frm_submit {
		text-align: center;

		input[type=submit] {
			text-transform 	: uppercase;
			background 		: $color__bg-submit-button;
			box-shadow 		: none;
			color 			: $color__text-submit-button;
			text-shadow 	: none;
			border-radius 	: 0;
			font-size 		: 1.5rem;
			text-align 		: center;
			margin 			: 0 auto;
		}
	}

	@media only screen and (min-width: $bp__menu-button+1) {

		.frm_first_half {
			width: 48.5%;
			float: left;
			clear: left;
		}

		.frm_last_half {
			width: 48.5%;
			float: right;
			clear: none;
		}

		.frm_first_third {
			float: left;
			clear: left;
			width: 31.5%;
			margin-right: 2.5%;
		}

		.frm_third {
			width: 31.5%;
			float: left;
			clear: none;
			margin-right: 2.5%;
		}

		.frm_last_third {
			float: right;
			clear: none;
			width: 31.5%;
		}
	}

}