.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display			: inline-block;
	text-align		: center;
	vertical-align	: top;
	width			: 100%;
}

// Fluid Gallery Columns

@for $i from 2 through 9 {
	.gallery-columns-#{$i} .gallery-item {
		@include column( $i );
	}
}

.gallery-caption {
	display		: block;
	text-align	: center;
	margin		: 0;
}

.gallery-icon {
	a {
		display		: block;
		text-align	: center;
	}

	img {
		height			: auto;
		margin-bottom	: 0;
	}
}

.gallery_list {
	column-count 	: 2;
	margin-bottom 	: $size__default-bot-marg;
	text-align 		: center;

	ul {
		list-style 				: none;
		-webkit-padding-start 	: 0;
		margin 					: 0;
	}

	.image_for_viewbox {
		text-decoration : underline;
		cursor 			: pointer;
	}
}

.view_wrap {
	text-align: center;
}

.viewbox {
	height 				: auto;
	width 				: 100%;
	max-width 			: 600px;
	border 				: 1px solid $color__border-viewbox;
	background-size 	: cover;
	background-position : center center;
	background-color 	: $color__bg-viewbox;
	margin 				: 0 auto;
	transition 			: background 1s linear;
}