.site {
	background 			: url( images/bkgd.jpg );
	background-size 	: cover;
	background-repeat	: no-repeat;
	background-position	: top center;
	position 			: relative;
	overflow 			: auto;
}

.site-content {
	margin 		: 0 0 $size__default-bot-marg 0;
	width 		: 100%;
	min-height 	: 575px;

	@media only screen and (min-width: $bp__menu-button+1) {
		min-height: 800px;
	}
}

.content-area {
	width: 100%;
}

.entry-footer {
	display: none;
}

.entry-content {
	padding 		: 1.5em;
	margin-top 		: 0;
	font-size 		: $font__size-side-menu;
	overflow 		: auto;
}

#wpgmza_map {
	border 			: 1px solid $color__border-maps;
}

@keyframes slideInLeftContent {
	0% {
		transform: translateX(-200%);
		visibility: visible;
	}

	100% {
		transform: translateX(0);
	}
}

.slidein {
	animation-duration 			: 0.5s;
	transition-timing-function 	: ease-in;
	animation-fill-mode 		: both;
	animation-name 				: slideInLeft;
	
	& .is-exiting  {
		animation-direction 	: alternate-reverse;
	}
}

.slidein-content {
	animation-duration 			: 0.5s;
	transition-timing-function 	: ease-in;
	animation-fill-mode 		: both;
	animation-name 				: slideInLeftContent;
}

.sidebar-content {
	article.hentry {
		width 		: 100%;
		color 		: $color__text-content;
		background 	: $color__bg-content;

		@media only screen and (min-width: $bp__menu-button+1) {
			padding-left: $size__width-min-side-content;
		}
	}
}

/**
 * Sidebar Menu
 */

.menu-sidebar {
	width: 100%;
	background 		: $color__bg-sidemenu;
	overflow 		: auto;

	@media only screen and (min-width: $bp__menu-button+1) {
		position 		: absolute;
		top 			: 0;
		left 			: 0;
		height 			: 100%;
		width 			: $size__width-min-side-content;
		z-index 		: 1;

		& .is-exiting  {
			animation-direction 	: alternate-reverse;
		}
	}

	ul {
		list-style 	: none;
		margin 		: 0;
	}

	li {
		margin-bottom	: $size__default-bot-marg;
		text-indent 	: -1em;
		padding-left 	: 0.5em;

		li {
			margin-bottom: 0;
		}
	}

	a {
		color 			: $color__text-sidemenu-items;
		text-transform	: lowercase;

		&:hover {
			color: $color__text-sidemenu-items-hover;
		}
	}

	.menu-item-has-children a {
		font-weight: 400;
	}

	.sub-menu a {
		font-weight: 700;
	}
}

.menu-header {
	background 	: $color__bg-menu-button-mobile;
	height 		: $size__site-headers;

	@media only screen and (min-width: $bp__menu-button+1) {
		background 	: $color__bg-sidebar-header;
	}

	h1 {
		display 		: inline-block;
		font-weight 	: 700;
		color 			: $color__text-sidemenu-header;
		line-height 	: 2.1em;
		text-transform	: lowercase;
		margin-left 	: 0.25em;
	}

	.header-wrap {
		text-align : left;

		@media only screen and (max-width: $bp__menu-button) {
			max-width: 300px;
		}
	}
}

.sidebar-menu-content {
	padding 		: 1.5em;
	margin-top 		: 0;
	font-size 		: $font__size-side-menu;
	overflow 		: auto;
}

.sidemenu-logo {
	width 	: 75px;
	padding : 1.25em 0 0;
	float 	: left;

	@media only screen and (min-width: $bp__menu-button+1) {
		margin-left: 2em;
	}
}

/**
 * Content on Left Template
 */
.content-on-left {
	@extend .menu-sidebar;

	@media only screen and (min-width: $bp__menu-button+1) {
		width: 45%;
	}

	.site-main {

		@media only screen and (min-width: $bp__menu-button+1) {
			width: 100%;
		}
	}

	.entry-header {
		@extend .menu-header;
	}
}


/**
 * Staff Directory
 */

.stafflist {
}

.staffmember {
	list-style 		: none;
	display 		: inline-block;
	vertical-align 	: top;
}


.staffpic {
	height 				: $size__staff-pic;
	width 				: $size__staff-pic;
	background-size 	: $size__staff-pic $size__staff-pic;
	background-position : center center;
	background-repeat 	: no-repeat;
	border-radius 		: 50%;
	border 				: 2px solid $color__border-staff-link;
}

.emptypic {
	height 				: $size__staff-pic;
	width 				: $size__staff-pic;	
}

.staffname {
	text-align: center;
}

.singlestaff {
	color: $color__text-content;

	.staffpic {
		height 				: $size__staff-pic-single;
		width 				: $size__staff-pic-single;
		background-size 	: $size__staff-pic-single $size__staff-pic-single;
	}

	.staffname {
		text-align: left;
	}
}

.staffsingle {
	width 		: 100%;
	color 		: $color__text-content;
	background 	: $color__bg-content;

	@media only screen and (min-width: $bp__menu-button+1) {
		padding-left: $size__padding-staff-single;
	}
}

