.site-footer {
	float 		: none;
	display 	: inline-block;
	color 		: $color__text-footer;
	width 		: 100%;
	padding 	: 1em 1em $size__default-bot-marg;

	a,
	a:visited {
		color: $color__text-footer;
	}
}

.footer-wrap {
	@media only screen and (min-width: $bp__menu-button+1) {
		margin-right: 100px;
	}
}

.site-info {
	text-align: center;
	
	@media only screen and (min-width: $bp__tablet) {
		text-align: right;
	}
}