.site-header {
	overflow 	: auto;
	background 	: $color__bg-site-header;

	@media only screen and (mIN-width: $bp__menu-button+1) {
		overflow	: inherit;
		height 		: 7em;
	}
}

.header-wrap {
	padding		: 1em;
	margin		: 0 auto;
	max-width	: $size__max-width;	
}

.site-branding {
	float: left;
}

.site-title {
	text-align	: center;
	width 		: 5em;
	height 		: 5em;
	float 		: left;
}

.site-description {
	display 		: inline-block;
	font-size 		: $font__size-tagline;
	text-transform 	: lowercase;
	color 			: $color__text-site-desc;
	padding 		: 0 0.4em;
}