.site-header {
	overflow 	: auto;
	background 	: $color__bg-site-header;

	@media only screen and (min-width: $bp__menu-button+1) {
		overflow	: inherit;
		//height 		: $size__site-headersmenu-;
	}
}

.header-wrap {
	margin		: 0 auto;
	//max-width	: $size__max-width;
	text-align 	: center;
	overflow 	: auto;
}

.site-branding {
	width 		: 300px;
	display		: block;
	overflow	: auto;
	text-align	: center;
	margin		: 0 auto;
	padding 	: 1em;

	@media only screen and (min-width: $bp__menu-button+1) {
		float: left;
	}

	@media only screen and (min-width: $bp__tablet) {
		margin-left 				: 100px;
		animation-duration 			: 0.5s;
		transition-timing-function 	: ease-in;
		animation-fill-mode 		: both;

		.page-template-page_left-sidebar-menu  &,
		.page-template-default & {
			animation-name 	: slideLogo;
			width 			: inherit;
		}

		.page-template-page_content-on-left & {
			animation-name 	: slideLogoPage;
			width 			: inherit;
		}

		.single-staff & {
			margin-left : 45%;
			width 		: inherit;
		}
	}
}

@keyframes slideLogo {
	0% {
		margin-left: 100px;
	}

	100% {
		margin-left: 425px;
	}
}

@keyframes slideLogoPage {
	0% {
		margin-left: 100px;
	}

	100% {
		margin-left: 45%;
	}
}

.site-title {
	text-align	: center;
	width 		: 5em;
	height 		: 5em;
	float 		: left;
}

.site-description {
	display: none;

	.home & {
		float	 		: right;
		font-size 		: $font__size-tagline;
		text-transform 	: lowercase;
		color 			: $color__text-site-desc;
		clear 			: none;
		display 		: inherit;
	}
}