$size__site-main		: 100%;
$size__site-sidebar		: 25%;

$size__default-bot-marg	: 1.5em;
$size__max-width 		: 1000px;

$size__width-main-menu 			: 130px;
$size__width-main-menu-mobile 	: 100%;
$size__width-min-side-content 	: 350px;
$size__margin-right 			: 100px;
$size__site-headers 			: 112px;

$bp__phone				: 320px;
$bp__tablet				: 768px;
$bp__laptop				: 1000px;

$bp__menu-button		: 700px;
$bp__pre-menu-button 	: 450px;