.nav-social {
	display: none;

	@media only screen and (min-width: $bp__menu-button+1) {
		display 	: inherit;
		float 		: right;
		padding 	: 1em;
	}

	@media only screen and (min-width: $bp__laptop) {
		margin-right: 80px;
	}

	.screen-reader-text,
	a {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;
	}

	.menu-item {
		display 	: inline-block;
		position 	: relative;
		margin 		: 0 0.5em;
		line-height : 1.5em;
	}

	a[href*="facebook.com"] {
		@include db_social( $fa-var-facebook );
	}
	a[href*="twitter.com"] {
		@include db_social( $fa-var-twitter );
	}
	a[href*="plus.google.com"] {
		@include db_social( $fa-var-google-plus );
	}
	a[href*="pinterest.com"] {
		@include db_social( $fa-var-pinterest );
	}
	a[href*="tumblr.com"] {
		@include db_social( $fa-var-tumblr );
	}
	a[href*="youtube.com"] {
		@include db_social( $fa-var-youtube );
	}
	a[href*="flickr.com"] {
		@include db_social( $fa-var-flickr );
	}
	a[href*="instagram.com"] {
		@include db_social( $fa-var-instagram );
	}
	a[href*="linkedin.com"] {
		@include db_social( $fa-var-linkedin );
	}
	a[href$=".rss"], 
	a[href$="rss.xml"], 
	a[href*="/feed/"],
	a[href*="/rss/"] {
		@include db_social( $fa-var-rss );
	}

}